
{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>CADASTROS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center mt-5 border rounded">
    
      <form action="{% url 'search' %}" class="search w-25" method="GET" >
        <input type="text" class="form-control " placeholder="Digite o Nome" aria-label="Recipient's username" aria-describedby="basic-addon2" name="Keyword">
        <div class="d-flex justify-content-center">
        <button class="btn btn-sn btn-outline-success my-2 my-sm-0 w-100 fw-bold" type="submit">Pesquisar</button>
        </div>
      </form>
      
  </nav>
        

      <div class="container pt-3 ">
        <h1 class="text-center ">LISTA DE INDIVÍDUOS</h1>
        <div class="d-flex justify-content-center mb-3 ">
        <a class="text-dark d-flex justify-content-end" href="{% url 'home'%}">
					<button class="btn btn-outline-dark btn-lg px-5 fw-bold">Início</button>
				</a>
        <a class="text-dark d-flex justify-content-start" href="{% url 'add' %}">
					<button class="btn btn-outline-dark btn-lg px-5 fw-bold ">Cadastrar</button>
				</a>
      </div>
{% comment %}       
        <div class="container text-center">
            <div class="row">
            {% for x in form %}
                    <div class="col-4 border">
                    <a class="text-black" href="{% url 'detalhes'  %}"><h4>{{x.nome}}</h4><br>
                    <img src="{{x.foto.url}}" alt="image"  height="30%" width="30%">
                    </a>
                    </div>
            {% endfor %}
            </div> 
        </div> 
       {% endcomment %}
      
        <div class="container text-center ">
          <div class="row"> 
             
          {% for x in form %}
         
            <table class="table border border-dark w-50 ">
           
              <tbody>
              
              <th>{{ forloop.counter }}º</th>
              <th><a class="text-black" href="{% url 'detalhes' x.id %}"><h4>{{x.nome}}</h4>
              <img src="{{x.foto.url}}" alt="image"  height="50%" width="50%"></th>
            
              </tbody>
          </table>
         
          {% endfor %}
         
        </div>
          </div>
      
        
      </div>
</body>
{% else %}

<div class="container py-3 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-3 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h3 class="fw-bold mb-2 text-uppercase">Você saiu!</h3>
            <p class="text-white-50 mb-5">Logar novamente </p>
            <a href="{% url 'login' %}">
            <button class="btn btn-outline-light btn-lg px-5" type="submit">Ir para Login</button>
            
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
{% endif %}
{% endblock content %}