<nav class="navbar navbar-expand-lg border-bottom">

    <div class="container-fluid">
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class=" border rounded text-center w-100 p-1m justify-content-center mt-1 bg-success "><h2 class="fw-bold">CONSULTA DE INDIVÍDUOS</h2></div>
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
            </ul>
            
            
           
        </div>
  
    </div>
  
  </nav>