{% extends 'base.html' %}

{% block title %}Reset Ok{% endblock %}

{% block content %}

<section class="vh-75 gradient-custom">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
               
                
                    <h2 class="text-white">Solicitação de Senha Nova</h2>
                    <p>Enviamos um e-mail com instruções para definir sua senha. Se eles não chegarem em alguns minutos, verifique sua pasta de spam.</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}