{% extends 'base.html' %}
{% block title %}Formulário Reset Senha{% endblock %}
{% block content %}

<section class="vh-75 gradient-custom">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                
                    {% if validlink %}
                    <p>Entre com sua nova senha para resetar.</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mt-3">
                            {{ form.new_password1.errors }}
                            <label class="form-label" for="id_new_password1">Nova Senha:</label>
                            <input type="password" name="new_password1" class="form-control" id="id_new_password1"> 
                        </div>
                        <div class="mt-3">
                            {{ form.new_password2.errors }}
                            <label class="form-label" for="id_new_password2">Confirmação de senha:</label>
                            <input type="password" name="new_password2" class="form-control" id="id_new_password2"> 
                        </div>
                        <button type="submit" class="btn btn-warning mt-3">Alterar Senha</button>
                    </form>
                    {% else %}
                    <h1>Falha na redefinição de senha</h1>
                    <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Solicite uma nova redefinição de senha.</p>
                    {% endif %}    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}