{% extends 'base.html' %}
{% block title %}Reset de Senha Completo{% endblock %}
{% block content %}


<section class="vh-75 gradient-custom">
  <div class="container py-3 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
             <form >
              <h3>Sua senha foi alterada com sucesso!</h3><br><br>
              <button class="btn btn-outline-light btn-lg px-5" type="submit">
                <a href="{% url 'login' %}" class="text-white-50 fw-bold"> Entrar</a>
              </button>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}