{% extends 'base.html' %}

{% block title %}Resetar Senha{% endblock %}

{% block content %}

<section class="vh-75 gradient-custom">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
                <h1>Resetar Senha</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="mt-3">
                        <label class="form-label" for="id_email">Email:</label>
                        <input type="email" name="email" class="form-control" id="id_email">
                    </div>
                    <button class="btn btn-warning mt-3" type="submit">Resetar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}