{% extends "base.html" %}

{% block content %}

<section class="vh-75 gradient-custom">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-3 text-center">
              
              <div class="mb-md-1 mt-md-3 pb-3">
                <a href="{%url 'home'%}" class="btn btn-outline-light btn-lg px-5 mb-3" type="submit">Início</a>
                <form action="{% url 'add' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label>Nome</label>
                    <div class="form-control form-control-lg mb-3">
                        {{form.nome}}  
                    </div>
                    <label>Foto</label>
                    <div class=" form-control form-control-lg mb-3">
                        {{form.foto}}
                    </div>

                    
                    
                    
                    
                    <button type="submit" class="btn btn-outline-light btn-lg px-5"><i class="fa fa-check" aria-hidden="true"></i> Create</button>
                </form>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}